{% extends "store/basestore.html" %}
{% load static %}
{% block title %}Catalog | Brew Beuty {%endblock%}

{% block content %}
  <h2>My Profile</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

{% if customer.profile_picture %}
    <img src="{{ customer.profile_picture.url }}" width="120" height="120" />
{% endif %}  

{%endblock%}

<!--cantikkan dan tambah element dalam my profile ni-->