{% extends "store/basestore.html" %}
{% load static %}


{% block content %}

<!-- Cart -->
<section class="cart">
<h1>Your Cart</h1>
{% if cart_items %}
    <div class="cart-items">
        <table>
            <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>RM {{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>RM {{ item.get_total }}</td>
                    <td><a href="{% url 'store:remove_from_cart' item.id %}" class="remove-btn">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="cart-summary">
            <p>Total Items: {{ cart_items }}</p>
            <p>Total: RM {{ total }}</p>
            <a href="{% url 'store:checkout' %}" class="cta-button">Proceed to Checkout</a>
        </div>
    </div>
    {% else %}
    <p>Your cart is empty. Start shopping!</p>
    <a href="{% url 'store:catalog' %}" class="cta-button">Go to Catalog</a>
    {% endif %}
</section>
{% endblock %}
<!--nanti letak block extra css (boleh follow track_order.css)-->
<!--tapi ada problem sikit dengan untuk apply css masing2 ke dalam page tu....takleh nak chatgpt sbb takde line-->