{% extends "store/basestore.html" %}
{% load static %}
{% block title %}Catalog | Brew Beuty {%endblock%}

{% block content %}


    <!-- Catalog Section -->
    <section class="catalog">
        <h1>Our Products</h1>
        <div class="product-grid">
            {% for product in products %}
            <div class="product-card">
                <img src="{{ product.images.url }}" alt="{{ Images }}">
                <h3><a href="{% url 'store:view_product' product.id %}">{{ product.name }}</a></h3>
                <p>{{ product.description }}</p>
                <p class="price">RM {{ product.price }}</p>
                <a href="{% url 'store:add_to_cart' product.id %}" class="cta-button">Add to Cart</a>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}

<!--nanti letak block extra css (boleh follow track_order.css)-->
<!--tapi ada problem sikit dengan untuk apply css masing2 ke dalam page tu....takleh nak chatgpt sbb takde line-->

