
{% extends "store/basestore.html" %}
{% load static %}
{% block title %}Homepage | Brew Beuty {%endblock%}

{% block content %}

<link rel="stylesheet" href="{% static 'css/homepage.css' %}">

    <!-- Main Banner -->
    <section class="hero">
        <div class="hero-text">
            <h1>Brew Beauty</h1>
            <p>Your destination for personalized makeup</p>
            <a href="{% url 'store:catalog' %}" class="cta-button">Shop Now</a>
        </div>
    </section>

    <!-- Featured Products -->
    <section class="featured-products">
        <h2>Featured Products</h2>
        <div class="product-grid">
            {% for item in product_data %}
            <div class="product-card">

                {% if item.image %}
                    <img src="{{ item.image.image.url }}" alt="{{ item.product.name }}">
                {% else %}
                    <p>Tiada gambar tersedia.</p>
                {% endif %}

                <h3><a href="{% url 'store:view_product' item.product.id %}">{{ product.name }}</a></h3>
                <p>{{ item.product.category }}</p>
                <p>Price: RM {{ item.product.price }}</p>
                <a href="{% url 'store:view_product' item.product.id %}" class="cta-button">View Product</a>
            </div>
            {% endfor %}
        </div>
    </section>
{%endblock%}