{% extends 'store/basestore.html' %}
{% load static %}
{% block title %}Product - Brew Beauty{% endblock %}

{% block content %}

<body>

    <!-- Product Details -->
    <section class="product-details">
        <div class="product-container">
            <div class="product-image">
                <img src="{{ product.images.url }}" alt="{{ Images }}">
            </div>
            <div class="product-info">
                <h1>{{ product.name }}</h1>
                <p class="price">RM {{ product.price }}</p>
                <p class="description">{{ product.description }}</p>
                <p class="category">Category: {{ product.category }}</p>
                <p class="stock">Stock: {% if product.stock > 0 %}In Stock{% else %}Out of Stock{% endif %}</p>
                <div class="product-actions">
                    <a href="{% url 'store:add_to_cart' product.id %}" class="cta-button">Add to Cart</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Brew Beauty. All Rights Reserved.</p>
    </footer>
</body>

{% endblock %}

{% block extra_css %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brew Beauty - {{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'css/view_product.css' %}">
</head>
{% endblock %}
