body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fff;
    color: #333;
}

header {
    background-color: #e60000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #e60000;
}

main {
    padding: 30px;
    max-width: 1000px;
    margin: auto;
}

.auth-buttons a {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.auth-buttons a:hover {
    background-color: darkred;
}