* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    transition: 0.3s all ease-in-out;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #10182F;
    font-weight: 700;
    font-size: 16px;
}

.shadow-wrap {
    border-radius: 5px;
    padding: 25px;
    background-color: #F0F2FB;
}

.form-wrap {
    background-color: #fff;
    padding: 70px;
}

.form-wrap form * {
    display: block;
    width: 100%;
}

.form-wrap form label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
}

.form-wrap form input {
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid #DAE1F5;
    background: #FFF;
    color: #545D7A;
}

#id_username {
    margin-bottom: 20px;
}

.form-wrap button {
    border-radius: 5px;
    background: #10182F;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    padding: 12px 68px;
    font-weight: 700;
    border: 1px solid transparent;
    margin-top: 30px;
    line-height: 26px;
}

.signup-link {
    color: #10182F;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    line-height: 25px;
    display: block;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}

.form-wrap button:hover {
    background-color: #fff;
    color: #10182F;
    border-color: #10182F;
}

.product-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.product-item {
    width: 30%;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-item h3 {
    font-size: 18px;
    margin-top: 10px;
}

.product-item p {
    font-size: 14px;
    margin-top: 5px;
}

.product-item a {
    display: inline-block;
    margin-top: 10px;
    font-weight: 700;
    color: #10182F;
    text-decoration: none;
}

.product-item a:hover {
    text-decoration: underline;
}
